.language-switcher {
    position: absolute;
    bottom: 14px;
    right: 16px;
    font-family: 'Quicksand', Helvetica, Arial;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    background-color: #c070c6;
    color: white;
    padding: 2px 20px;
    border-radius: 6px;
}
